@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی محدود";
}

<header class="card card-header col-6 mx-auto shadow text-center">
    <h4 class="text-danger">@ViewData["Title"]</h4>
    <p class="">دسترسی شما محدود می باشد و شما اجازه ورود به این قسمت را ندارید</p>
</header>
